@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #E0E0E0;
    display: flex;
    font-family: 'Open Sans','sans-serif';
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 95vh;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
}

/* Style for header section */

header p {
    font-size: 24px;
    font-weight: bold;
    color: #3387ED;
}

#input-form{
    display: flex;
    justify-content: space-between;
    width: 88%;
    height: 20%;
}
    
form input[type=text]{
    border: 2px solid #20bf6b;
    border-radius: 10px;
    outline: none;
    padding: 18px;
    width: 80%;
}

form input[type=submit]{
    border:none;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    background-color: #3387ED;

}

/* Style for main section */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}

section{
    width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

li{
    border: 2px solid #20bf6b;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    padding: 18px;
    margin: 5px;
}

.fa-pencil{
    font-size:18px
}

.fa-trash-o{
    font-size:26px;
    color:red
}

#section-buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#section-buttons input{
    width: 75px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}

.todo-buttons{
    background-color: #3387ED;
}

#signup-button{
    background-color: #3498db; 
}

#login-button{
    color: white;
    background-color: #04AA6D;
}

/* Style for footer section */

footer{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

footer a{
    text-decoration: none;
}